<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load crispy_forms_tags %}
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Instagram</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body style="background-color:whitesmoke"> 
<center>   

    
        <div class='text-center  col-lg-5  mt-5 '>
            <div class='card p-4 pt-4'>
                <p><img src="{% static 'instagramlogo.png' %}" alt="logo" style="width:170px"></p>  
                <h3>Password Reset Complete</h3>

              
                <p>Your password has been set. You may go ahead and log in now </p>

                <button> <a href ="/login">Log in</a></button>
               

               

            </div>
            </div>
           
   
</center>
   
</body>


</html>