<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load crispy_forms_tags %}
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Instagram</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body style="background-color:whitesmoke"> 
<center>   

    
        <div class='text-center  col-lg-5  mt-5 '>
            <div class='card p-4 pt-4'>
                <p><img src="{% static 'instagramlogo.png' %}" alt="logo" style="width:170px"></p>  
                <h3>Password Reset Sent</h3>

                <p>We've emailed yout instruction for setting your password, if an account exists with the email you entered. You should receive them shortly. </p>
                <p>If you don't receive an email, please make sure you've entered the email  you registered with, and check your spam folder. </p>

               

            </div>
            </div>
           
   
</center>
   
</body>


</html>