<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load crispy_forms_tags %}
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Instagram</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body style="background-color:whitesmoke"> 
<center>   

    
        <div class='text-center  col-lg-5  mt-5 '>
            <div class='card p-4 pt-4'>
                
                <p><img src="{% static 'instagramlogo.png' %}" alt="logo" style="width:170px"></p>  
                <h3>Enter your new password</h3>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form method="post">
                {%csrf_token%}
                    {{ form|crispy}}
                    <input type="submit" class="btn btn-primary col-8 mt-2 p-1" name="Update Password" style="font-size: 0.9rem; font-weight: 600; background-color:#0095f6; " />
                    
                </form>

               

            </div>
            </div>
           
   
</center>
   
</body>


</html>