<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {%load static%}
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
     <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>INSTAGRAM</title>
  </head>
  <body style="background-color: ghostwhite">
  
  
<center>
<br>
<br>
<br><br>
<div class=' text-center col-lg-4' >
            <div class='card p-2'>
                <p><img src="{% static 'instagramlogo.png' %}" alt="logo" style="width:170px"></p> 
              
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                  {{ form.as_p}}  
                    
                    <input type="submit" class="btn btn-primary col-8 mt-2 p-1" value="Sign up" />
                    <input type="hidden" name="next" value="" />
                </form>

                




            </div>


            <div class='card text-center mt-3 p-4'>
                <small>Have an account? <a href="login" style="color: #0095f6 !important">Log In</a></small>
            </div>
             </div>
    
            </div>

</center>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>